<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>


<a href='http://infinitestory.net'><p> <span style = 'font-family:Zapfino'>Infinite Story</a>  - The World's Longest Collaboratively Created Story!</p>

<p>Thank you <i>so much</i> for contributing, you poetic genius, you! </p> Homer would be proud. Look at what you've inspired!
<br></br>
<p style = 'font-family: cursive; font-size: 23px;'><b><%=Post.find(@post_id - 3).line %></b></p>
<p style = 'font-family: cursive; font-size: 19px;'><%=Post.find(@post_id - 2).line %></p>
<p style = 'font-family: cursive; font-size: 17px;'><%=Post.find(@post_id - 1).line %></p>
<p style = 'font-family: cursive; font-size: 17px;'><%= @text %></p>
 <p style = 'font-family: cursive; font-size: 17px;'>. . .</p>
<a href='http://infinitestory.net'><p style = ' font-size: 23px;'> Click HERE to decide where the story goes next!</p></a>
(PS - We'd love your feedback! - REPLY to this email to send some over)