<% if @post.errors.any? %>
	<div id="error_explanation">
	
	<% if @post.line.empty? %>
		<%= "The story is yours to direct!" %>
		<% end %>



		<% if @post.email.empty? && !@post.line.empty? %>
		<%= "Trust us, email updates are so hot right now" %>
		<% end %>




		</div>




<%end%>

