<h1>Add to the story!</h1>

<%= form_for(@post) do |f| %>
		

			<%= f.label 'i dont think i work' %>
			<%= f.text_field :line %>

	

			<%= f.submit "Submit!", class: 'btn btn-large btn-primary' %>

			<% end %>