<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<p id = 'thanks'>Thanks for submitting you poetic genius you!</p>
 <p id = 'thanks'>Watch for an email to see how the story develops.</p> 
<br></br>


<% Post.all.each do |user| %>
  <div class=<%=cycle('outputs-black', 'outputs-gray')%>>
<%= user.line %> </div>
<% end %>   









<br> </br>
<div class = 'glow fb'>

	<div class="fb-like" data-href="http://www.InfiniteStory.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
<!--<iframe src="//www.facebook.com/plugins/like.php?href=http://www.InfiniteStory.net&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe> -->
 </div> 
<br></br>



<div id='footer-text'> 
Created with love by <%= link_to 'George', 'http://www.GeorgeZisiadis.com' %>
</div>

