 <%= flash[:success] %>

<br></br>
 <% Post.all.each do |user| %>
  <div class='outputs'> <%= user.line %> </div>
<% end %>
<br> </br>
<div class = 'glow fb'>
<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftestk.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe> </div>