// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*
body {

	position:relative;
	background-image:  url(parchment-head.png), url(parchment.png)
	background-repeat: no-repeat, repeat-y;
	background-position: center top, center;
	height:100%;
	width:100%;
}
*/

body {
background: url(parchment-head.png) center top no-repeat,
			url(parchment.png) center top repeat-y,
			url(Desk_Texture.jpeg);


}





/* Header */

header {
	text-align: center;
	margin-top: 25px;

}

#main-title {
font-size: 3em;
font-style: bold;
font-family: Zapfino;
margin-top: 60px;
/* Safari */
-webkit-transform: rotate(-5deg);

/* Firefox */
-moz-transform: rotate(-5deg);

}

#descriptor-title{
font-size:30px;
font-style: italic;
font-weight: bold;
font-family: cursive;
margin-top: 60px;
line-height: 1;
}



#thanks {
color: green;
font-size: 20px;
	width:500px;
	height:20px;
margin-left: auto;
margin-right: auto;
text-align: center;


}



/* Body */



body
{
height: auto;
padding-bottom:20px;
position:relative;

}

.outputs { 
	font-size: 2em;
	font-family: cursive;
	text-align: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.7;
	&:hover { 
		color: red;
	}

}



#mainpage {
	text-align: center;
	font-style: bold;
}


#prompt {
	text-align: center;
	font-style: bold;
	font-family: cursive;
	font-size: 40px;
	line-height: 1.5;
	width: 700px;
	margin-left: auto;
	margin-right: auto;

}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 18px rgba(0,0,0,0.8);
   line-height: 1.7;
   text-align: center;
	font-style: bold;
	font-family: cursive;
	font-size: 40px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;

}

/* FORM */

#post_line {
	border:0px;
	border-bottom: 1px dashed black;
	background:none;
	line-height: 1.7;
	font-family: cursive;
	font-size: 40px;
	width: 700px;
	height: 60px;
}


#counter {
	border: 5px solid blue;
	float: right;
	margin-right: 30%;
	color: gray;
	opacity: .95;
	position: fixed;
}

.btn-custom {
  background-color: hsl(0, 69%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b42121", endColorstr="#5e1111");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b42121), to(#5e1111));
  background-image: -moz-linear-gradient(top, #b42121, #5e1111);
  background-image: -ms-linear-gradient(top, #b42121, #5e1111);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b42121), color-stop(100%, #5e1111));
  background-image: -webkit-linear-gradient(top, #b42121, #5e1111);
  background-image: -o-linear-gradient(top, #b42121, #5e1111);
  background-image: linear-gradient(#b42121, #5e1111);
  border-color: #5e1111 #5e1111 hsl(0, 69%, 17%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

#error_explanation {
  color: #f00;
  font-size: 18px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}


.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


/* Footer */

#footer-text {
	font-size: 18px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.fb { 
	
	text-align: center;

}


#foot {
	background-color: lightGray;
	width:100%;
	bottom:0;
	height: 20px;
	position:absolute;
	z-index: -1
}

.fb { 
	
	text-align: center;

}

.glow {
	width:75px;
	height:20px;
	margin-left: auto;
	margin-right:auto;
	margin-bottom: 5px;
-webkit-animation-name: greenPulse;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes greenPulse {
from { background-color: #e9d3b1; -webkit-box-shadow: 0 0 9px #333; }
50% { background-color: #e9d3b1; -webkit-box-shadow: 0 0 18px blue; }
to { background-color: #e9d3b1; -webkit-box-shadow: 0 0 9px #333; }
}



@import 'bootstrap';

