// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height:100%;
	position:relative;
	background-image:  url(parchment-head.png), url(parchment.png);
	background-repeat: no-repeat, repeat-y;
	background-position: center top, center;
	
}


/* Header */

header {
	text-align: center;
	margin-top: 25px;

}

#main-title {
font-size: 3em;
font-style: bold;

}

#descriptor-title{
font-size:2;
font-style: italic;
margin-top: 30px;

}

/* Body */



body
{
height: auto;
padding-bottom:20px;
position:relative;

}

#outputs { 
	font-size: 2em;
	color: #123456;
	float: center;
	font-family: helvetica;
	text-align: center;
	&:hover { 
		color: blue;
	}

}

#mainpage {
	text-align: center;
	font-style: bold;
}


#prompt {
	text-align: center;
	font-style: bold;
	font-family: cursive;
	font-size: 2em;

}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 18px rgba(0,0,0,0.8);
   margin: -5px 0 0 0;

}

.red {
	color: red;
}

#hide {display:none;}

#post_line{
	border:0px;
	border-bottom: 1px dashed black;
	background:none;
	padding: 1px;
	line-height: 2em;
	font-family: cursive;
	font-size: 2em;

}


#counter {
	border: 5px solid blue;
	float: right;
	margin-right: 30%;
	color: gray;
	opacity: .95;
	position: fixed;
}





/* Footer */

#foot {
	background-color: lightGray;
	width:100%;
	bottom:0;
	height: 20px;
	position:absolute;
	z-index: -1
}


